
<div class="col-md-4"></div>
<div class="col-md-4 text-center">
  <h3>New Post</h3>
  <div class="row post-options">
    <form class="" action="index.html" method="post">
      <div class="form-field">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" value="" ng-model="$ctrl.newPost.title">
      </div>
      <div class="form-field">
        <label for="description">Description</label>
        <br>
        <input type="text" name="description" value="" ng-model="$ctrl.newPost.description">
      </div>
      <div class="form-field">
        <label for="price">Price</label>
        <br>
        <input type="text" name="price" value="" ng-model="$ctrl.newPost.price">
      </div>
      <div class="form-field">
        <label for="item_image">Item Image</label>
        <br>
        <input type="text" name="item_image" value="" ng-model="$ctrl.newPost.item_image">
      </div>
      <div class="form-field">
        <button class="btn" type="button" name="button" ng-click="$ctrl.addPost()">Submit Post</button>
      </div>
    </form>
  </div>
  <h5>Fill out all form fields and submit the post to share it with the community!</h5>
</div>
<div class="col-md-4"></div>
