
<div class="row text-center bottom-margin">
  <h2 class="dark-green">Greetings Potato-Heads!</h2>
  <h4 class="dark-green">Post all of your potato needs here and some spud will get back to you shortly.</h4>
</div>

<!-- Post Options -->
<div class="row text-center">
  <div class="flex-container">
    <div class="col-md-3 post-options">
      <h4 class="white bottom-margin">Add a New Post</h4>
      <button class="btn" type="button" name="button" ng-click="$ctrl.newPost()">New Post</button>
    </div>
    <div class="col-md-3 post-options ">
      <h4 class="white bottom-margin">Filter Posts</h4>
      <input name="search" ng-model="searchText" type="search">
    </div>
    <div class="col-md-3 post-options ">
      <h4 class="white bottom-margin">Sort Posts</h4>
      <button class="btn" type="button" name="button" ng-click="$ctrl.updateSort('-date')" ng-class="{'inactive-button': $ctrl.sortCriteria != '-date'}">Sort By Date</button>
      <button class="btn" type="button" name="button" ng-click="$ctrl.updateSort('price')" ng-class="{'inactive-button': $ctrl.sortCriteria != 'price'}">Sort By Price</button>
    </div>
  </div>
</div>

<!-- All Posts -->
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="row flex-container">
    <div class="card" ng-repeat="post in $ctrl.posts | filter : searchText | orderBy : $ctrl.sortCriteria">
      <div class="col-md-4 text-center">
        <h3 class="dark-pink">{{post.title}}</h3>
        <img class="card-image" ng-src="{{post.item_image}}" alt="item-image">
      </div>
      <div class="col-md-8">
        <div class="row dark-pink">
          <h4>Details</h4>
          <h5>Price: {{post.price}}</h5>
          <span am-time-ago="post.date"></span>
          <h5>Description:</h5>
          <p>{{post.description}}</p>
        </div>
        <div class="row">
          <button class="btn" type="button" name="delete_post" ng-click="$ctrl.deletePost(post.id)">Delete Post</button>
          <button class="btn" type="button" name="edit_post" ng-click="$ctrl.editPost(post)">Edit Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-1"></div>
